

.about{
    animation: tran 0.75s;
    text-align: center;
    color: black;
    font-size: 50px;
}

section img.picture {
    border-radius: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 15%;
    animation: tran 1s steps(42);
    
}

#profile {
width: 80%;
margin-left: 10%;
margin-right: 10%;

}

p{
    color: black;
}

.detail {
    margin-top: 20px;
    color: black;
    text-align: center;

    animation: typing 3s steps(91);
    overflow: hidden;
    white-space: nowrap;
    border-right: 2px solid black;
    width: 91ch;
}

.script {
    margin-top: 20px;
    text-align: justify;
    color: black;
    line-height: 2;
}

#circle {
    width: 100%;
    margin-top: 50px;
}

.project {

    width: 20%;
    margin-left: 10%;
    padding: 100px;
    border-radius: 80%;
    text-align: center;
    background-color: darkgrey;
    opacity: 0.5;
    float: left;
    
}

.project:hover{
    opacity: 0.3;
}

.animation {

    width: 20%;
    margin-left: 10%;
    padding: 100px;
    border-radius: 80%;
    text-align: center;
    background-color: darkgrey;
    opacity: 0.5;
    float: left;
    
}

.favorite:hover{
    opacity: 0.3;
}

.contact {

    width: 20%;
    margin-left: 10%;
    padding: 100px;
    border-radius: 80%;
    text-align: center;
    background-color: darkgrey;
    opacity: 0.5;
    float: left;

    
}

.contact:hover{
    opacity: 0.3;
}


#bookintro {
    margin-top: 100px;
    text-align: center;
    font-size: 30px;}
    

#nomore {
    background-color: rgb(189, 218, 189);
    padding: 50px;
    margin-top: 20px;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.nomore {
    width: 45%;
    margin-left: auto;
    margin-right: auto;
    display: block;
}


#nomorescript, h3{
    text-align: center;
    color: gray;
}









#atomic {
    background-color: rgb(243, 236, 193);
    padding: 50px;
    margin-top: 20px;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.atomic {
    width: 45%;
    margin-left: auto;
    margin-right: auto;
    display: block;
}


#atomicscript, h3{
    text-align: center;
    color: gray;
}



footer{
    margin-top: 30px;
    float:left;
    margin-left: 5px;

}





@keyframes tran {

    from {
        opacity: 0;
        transform: rotateX(-10deg);
    } 
    to {
        opacity: 1;
        transform: rotateX(0deg);
    }
}

@keyframes typing {
    0% {
        width:0ch 
    }
    100% {
        width: 91ch ;
    }
}