
#sec1 img{
    float: right;
    margin-right: 500px;
    margin-top: 15px;
    border-radius: 50%;
    width: 20%;
}

.con{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande',sans-serif, cursive;
    font-weight: bold;
    font-size: 50px;

    animation: fade 0.5s;
    overflow: hidden;
    white-space: nowrap;
}

.me {
    font-family: cursive;
    font-weight: bold;
    font-size: 100px;
    margin-left: 200px;

    animation: fade 1.25s;
    overflow: hidden;
    white-space: nowrap;
}


#sec2 {
    
    margin-left: 100px;
    margin-top: 100px;
}


#background {
    background-color: #FFFAFA;
    padding: 100px;
}

#background1 {
    background-color: white;
    padding: 100px;

}

.formstart, #form {
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
}

.formstart{
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    padding: 20px;
    background-color: white;
    opacity: 0.5;
}

.input {
    margin-top: 10px;
    margin-bottom: 20px;
}

#facebook, #ig, #ln {
    width: 5%;
    margin-left: auto;
    margin-right: auto;
    margin: 5px;
    display: block;
    float: left;
}

#facebook {
    margin-left: 700px;
    
}

input[type=text], select, textarea {
    width: 50%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
  }

input[type=submit] , input[type=reset]{
    background-color: gray;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }

input[type=submit]:hover, input[type=reset]:hover {
    opacity: 0.5;
  }

table, th, td{
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid black;
    
}

th, td {
    padding: 15px;
  }

th {
    background-color: gray;
}

.time {
    background-color: silver;
}

.ent {
    background-color: rgb(191, 224, 138);
}

.web {
    background-color: rgb(187, 164, 122);
}

.data {
    background-color: paleturquoise;
}

.pro {
    background-color:peru;
}

.ent:hover, .web:hover, .data:hover, .pro:hover {
    opacity: 0.5;
}

@keyframes fade {
    0% {
     width:0ch;
    }
    100% {
        width: 10ch;
    }
    
}
