
*{
    padding: 0px;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;


}


.logo {
    float: left;
    margin-right: 20px;
}


body{
    font-family:  sans-serif, serif,'Times New Roman', Times;
    background-color: whitesmoke;   
    color:black;
    overflow: auto;
}

footer{
    color: white;
    background: gray;
    opacity: 0.5;
    text-align: center;
}

a {
    text-decoration: none;
}

nav ul {
    float: right;
    margin-right: 20px;
}

nav ul li {
    display: inline-block;
    line-height: 80px;
    margin: 0 15px;
}

nav {
    background:black;
    opacity: 0.5;
    height: 80px;
    width: 100%;
}

nav ul li a{
    color:white;
    font-size: 17px;
    padding: 10px 13px;
    border-radius: 3px;
    text-transform: uppercase;
}

a.bar:hover {
    background: darkgray;
    transition: .5s;
}



