
#banner {
    width: 100%;
    margin-top: 100px;
    margin-left: 50px;
    color: white;
  }

  body{
    background-image: url(../media/profile1.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
}


.hello {
    font-size: 5pc;
    font-family: cursive;
    animation: type 1s;
    overflow: hidden;
    white-space: nowrap;
    
}

.name {
    font-size: 5pc;
    font-family: sans-serif;

    animation: type 1s;
    overflow: hidden;
    white-space: nowrap;
}

.major {
    font-size: 3pc;
    font-family: sans-serif;
    
    animation: type 1s;
    overflow: hidden;
    white-space: nowrap;
}


.description {
    animation: tran 0.5s;

    width: 50%;
    float: right;
    margin-left: 5px;
    margin-bottom: 100px;
    border: 2px;
    padding:50px;
    background-color: gray;
    opacity: 0.5;
    color: white;
    text-align: center;
}

.skill{
    width: 100%;
    text-align: center;
    display:inline-block;  
    color: white; 
    opacity: 0.5;
    
}

div.business:hover{
    opacity: 0.5;
}

div.it:hover{
    opacity: 0.5;
}

div.sport:hover{
    opacity: 0.5;
}



.business{
    float: left;
    width: 25%;
    border: 2px;
    margin: 5px;  
    padding:100px;
    background-color: gray;
    font-weight: bold;
}

.it{
    float: left;
    width: 45%;
    border: 2px;
    margin: 5px;
    padding:100px;
    background-color: gray;
    font-weight: bold;
    
}

.sport{
    float: left;
    width: 25%;
    border: 2px;
    margin: 5px;
    padding:100px;
    background-color: gray;
    font-weight: bold;
}

.text{
    color: white;
}

@keyframes type {
    0% {
     width:0ch;
    }
    100% {
        width: 20ch;
    }
    
}

@keyframes tran {

    from {
        opacity: 0;
        transform: rotateX(-10deg);
    } 
    to {
        opacity: 0.5;
        transform: rotateX(0deg);
    }
}