#ad4{
    background-image: url(../media/ad4.jpg);
    background-size: 100%;
    padding: 150px;
    width: 20%;
    color: white;
    font-weight: bold;
    font-size: 30px;
}

#ad5{
    background-image: url(../media/ad5.jpg);
    background-size: 100%;
    padding: 150px;
    width: 20%;
    color: white;
    font-weight: bold;
    font-size: 30px;
}

#fuel:hover, #bmc:hover, #SmartGame:hover,
#atpj:hover, #tkd:hover
 {
    opacity: 1;
    text-align: justify;
}

.smartgame, .nationalteam, .medal{
    display: block;
    margin-top: 5px;
    margin-left: auto;
    margin-right: auto;
    width: 500px;
}

section{
    opacity: 1;
    text-align: justify;
}

section:hover {
    background-color:#FFFAFA;
}